/node_modules
/public/hot
/public/storage
/public/medias
/public/analysis
/public/activity
/public/vendor/*
/public/exports/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env
.env*
.vscode/
/resources/pkgs/datagent-test
*.DS_Store
*.swp
